doctype html
html(lang=lang)
    head
        include partials/_head.pug
        link(rel="stylesheet", href="/public/css/components/carousel.css")
        link(rel="stylesheet", href="/public/css/components/modals.css")
        link(rel="stylesheet", href="/public/css/components/product-card.css")
        link(rel="stylesheet", href="/public/css/layout/user-form.css")
    body
        include partials/_header.pug
        main 
            include partials/_404.pug
        footer