doctype html
html(lang=lang)
    head
        include partials/_head.pug
        link(rel="stylesheet", href="/public/css/components/filter-and-result.css")
        link(rel="stylesheet", href="/public/css/components/modals.css")
        link(rel="stylesheet", href="/public/css/components/product-card.css")
        link(rel="stylesheet", href="/public/css/layout/user-form.css")
    body
        include partials/_header.pug
        main 
            h1=langData.header.navbar.catalog[lang] 
            section(id='product_search_section' data-search-fields=search_fields data-quick-query=quick_query)
                include include/search_fields.pug
                div.product_display_container
                    div(id='product_result')
                    div(id='pagination', data-pagination-type='normal')
        footer 
        - let disclaimer_lang = lang
        include include/disclaimer.pug
        script(type='module', src='/src/client/pages/catalog_api.js' defer)
        script(src='/src/client/components/search_fields.js' defer)