/* 
BASE: 
CSS rules that apply to all elements
*/
@import './base/_reset.css';
@import './base/global.css';
@import './base/typography.css'; /*Here goes EVERYTHING about [fonts], [font-sizes] and [font-color]*/
@import './base/utility.css';

/* 
COMPONENTS: 
Visible apperances such as [sizes] and [color] for individual components.
*/
@import './components/buttons.css'; 
@import './components/logo.css'; 
@import './components/navbar.css';
@import './components/search-bar.css'; 

/* 
LAYOUT: 
CSS rules that applies the position of elements onto the website
*/
@import './layout/header.css';

/*
PAGES:
CSS rules that applies only to a given page/route
*/

/*
THEME:
CSS rules that affect theme changes such as [dark-theme]
*/