.button {
    height: 3rem;
    background-color: transparent;
    border: solid 1px hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
    border-radius: 10px;
}

.btn_main {
    width: 6rem;
}

.btn_modal {
    width: 100%;
}

.btn_inline {
    height: min-content;
    width: 100%;
}

.button_pagination {
    border-radius: 5px;
    font-size: var(--fs-body);
    height: var(--fs-max);
    width: var(--fs-max);
}

.button:hover {
    cursor: pointer;
    background-color: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
    color: hsl(var(--color-text-main-h), var(--color-text-main-s), var(--color-text-light-l));
}

.button_forgot_password {
    background-color: transparent;
    border: none;   
    align-self: flex-start;
}

.button_forgot_password:hover {
    cursor: pointer;
}