.button {
    height: 3rem;
    min-width: 3rem;
    background-color: transparent;
    background-color: hsl(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l));
    border: solid 1px hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
    border-radius: 10px;
}

.button > i {
    pointer-events: none;
}


.btn_main {
    width: 6rem;
}

.btn_modal, .btn_inline {
    width: 100%;
}

.btn_inline {
    height: min-content;
}

.button_pagination {
    border-radius: 5px;
    height: var(--fs-max);
    width: var(--fs-max);
}

.button:hover {
    cursor: pointer;
    background-color: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
    color: hsl(var(--color-text-main-h), var(--color-text-main-s), var(--color-text-light-l));
}

.button:hover > * {
    color: hsl(var(--color-text-main-h), var(--color-text-main-s), var(--color-text-light-l));
}


/*########
TEXT LINKS
##########*/
/*these are here due to being clickable | interactive elements*/
.text_link:hover {
    cursor: pointer;
}