#product_search_section {
    display: flex;
    flex-direction: row;
}

.product_result_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    gap: 15px 15px;
}
