#product_search_section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    /*DEV ONLY*/
    border: green solid 1px;
}

.product_result_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    gap: 15px 15px;
}

/*DEV ONLY*/
#tags-filter {
    border: 1px solid purple;
    padding: 5px;
}

