/* [input_box]es are in components/input-box.css */

#product_search_section {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin: 0 auto;
  gap: var(--rwd-grid-gap);
  /*DEV ONLY*/
}

/*### SEARCH FIELDS ###*/
.product_filter_container {
  flex: 0.2 2 10%;
  min-width: 250px;
  position: relative;
  top: 0;
  border-right: 2px transparent solid;
  border-image: var(--rwd-search-form-border);
}

#catalog_search_form {
  position: sticky;
  top: 0;
  padding-right: 20px;
}

#catalog_search_form > * {
  padding: 0.5rem 0;
}

.search_container {
  position: relative;
  border-bottom: 2px transparent solid;
  border-image: var(--rwd-search-form-border)
}

/*vvv Price Range Selector vvv*/
.range_container {
  position: relative;
  height: 1.5rem;
  margin: 0 1rem 0 0;
}

#range_slider_visual {
  position: absolute;
  height: 3px;
  width: 100%;
  top: 0.6rem;
}

.price_range_input {
  position: absolute;
  background: transparent;
  width: 100%;
  appearance: none;
  pointer-events: none;
  margin-left: 0;
}

input[type="range"]::-webkit-slider-thumb { /*Tried grouping them; didnt work*/
  pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
}

input[type="range"]::-ms-thumb {
  pointer-events: auto;
}

input[type="range"]::-o-range-thumb {
  pointer-events: auto;
}

/*vvv dropdown lists vvv NOTE: NEED TO CHECK THE DROPDOWN ON FIREFOX!*/ 

/*vvv Tags Filter vvv*/

#tags_filter {
  padding: 5px;
}

#tags_input_dropdown_container {
  position: relative;
}

#tags_dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  z-index: 10
}

#tags_input_dropdown_container:focus-within select {
  opacity: 1;
  pointer-events: auto;
}

#selected_tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3px;
  gap: 2px;
}

#selected_tags > li {
  padding: 2px;
  position: relative;
  border: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l)) solid 1px;
  border-radius: 5px;
}

#selected_tags > li > *:hover {
  cursor: pointer;
}


#selected_tags > li > label > input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

#selected_tags > li > label > span::before {
  content: 'x';
  margin: 0 5px 0 2px;
}

/*### ON SALE & BEST SALE ###*/
.search_container.single_option {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search_container.single_option > *:hover {
  cursor: pointer;
}

/*### RESET BTN ###*/
#search_field_reset {
  margin-top: 5px;
}

/*### RESULTS LIST ###*/
.product_display_container {
  flex: 3 1 80%;
  max-width: 1250px;
}

#product_result {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--rwd-results-columns), 1fr);
}

/*### SEARCH TOGGLEE BTN ###*/
#search_fields_toggle {
  display: none;
  cursor: pointer;
  width: var(--rwd-toggle-size-y);
  height: var(--rwd-toggle-size-x);
  bottom: var(--rwd-toggle-pos-x);
  right: var(--rwd-toggle-pos-y);
  transform: var(--rwd-toggle-transform);
  border: 2px solid hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
  border-radius: var(--rwd-toggle-border-radius);
  background-color: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
  position: absolute;
}

#search_fields_toggle > i {
  color: hsl(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l));
  font-size: 1.1rem;
}

#search_fields_toggle.active, #search_fields_toggle:hover {
  background-color: hsl(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l));
}

#search_fields_toggle.active > i, #search_fields_toggle:hover > i{
  color: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
}

/*### PAGINATION ###*/
/*pagination button in buttons.css*/
#pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100px;
  user-select: none;
}

#page_current {
  font-size: var(--fs-price-main);
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  /*cursor: pointer; turned off until 'jump to' function is working*/
}

[data-pagination-responsive='mobile'] {
  display: none;
}

/*###################
RESPONSIVE WEB DESIGN
#####################*/

@media (max-width: 1010px) {
  #product_search_section {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
  }

  .product_filter_container {
    position: sticky;
    z-index: 10;
    background-color: hsl(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l));
    width: 100%;
    border-right: unset;
    border-bottom: 2px transparent solid;
    margin-bottom: 1rem;
  }

  #catalog_search_form {
    display: none;
    padding-right: unset;
    padding-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  #catalog_search_form.active {
    display: grid;
  }

  .search_container {
    border-bottom: solid 1px black;
    border-image: unset;
  }

  #search_field_reset {
    grid-column: 1 / -1;
  }

  #search_fields_toggle {
    display: block;
  }

}

@media (max-width: 740px) {
  #catalog_search_form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  [data-pagination-responsive='mobile'] {
    display: block;
  }

  [data-pagination-responsive='desktop'] {
    display: none;
  }
}


@media (max-width: 380px) {
  #catalog_search_form {
    padding: 1rem;
  }
}