.logo_svg {
    stroke: black;
    width: 350px;
}

.logo_main {
    fill: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
}

.logo_sub {
    fill: hsl(var(--color-grey-h), var(--color-grey-s), var(--color-grey-l));
}

.logo_white {
    --color-grey-l: 60%;
    fill: hsl(var(--color-grey-h), var(--color-grey-s), var(--color-grey-l));
}