.logo-svg {
    stroke: black;
    width: 350px;
}

.logo-main {
    fill: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
}

.logo-sub {
    fill: hsl(var(--color-grey-h), var(--color-grey-s), var(--color-grey-l));
}

.logo-white {
    --color-grey-l: 60%;
    fill: hsl(var(--color-grey-h), var(--color-grey-s), var(--color-grey-l));
}