#login_modal, #disclaimer_modal {
    padding: 1.5rem 2rem;
    background-color: hsla(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l), var(--color-opacity-high));
    backdrop-filter: blur(6px);
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 20px rgba(89, 89, 89, 0.75);
    -webkit-box-shadow: 0px 0px 40px 20px rgba(89, 89, 89, 0.75);
    -moz-box-shadow: 0px 0px 40px 20px rgba(89, 89, 89, 0.75);
    position: relative;
}

#login_modal {
    height: 28rem;
    width: 38rem;
}

#disclaimer_modal {
    height: min-content;
    width: 60rem;
}

/*#########
LOGIN MODAL
###########*/

.button_modal_close {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
}

.button_modal_close:hover {
    cursor: pointer;
    scale: 1.1
}

#login_form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

#show_password_checkbox {
    display: none;
}

.show_password_icon {
    display: none;
    padding-right: 1rem;
}

.show_password_icon.active {
    display: inline;
}


/*#############
DISCLAIMER MODAL
################*/
#disclaimer_modal::backdrop {
    background-color: hsla(360, 0%, 10%, 0.8);
}

.disclaimer_language > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

[data-disclaimer-select] {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-disclaimer-select].active {
    background-color: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
    color: hsl(var(--color-text-main-h), var(--color-text-main-s), var(--color-text-light-l));
}

.disclaimer {
    display: none;
    padding: 0 1rem;
}

.disclaimer.active {
    display: block;
}

#disclaimer_close {
    margin-top: 1.5rem;
    text-align: center;
}

/*DEV MODE*/