[data-product-card] {
    display: flex;
    flex-shrink: 0;
}

[data-product-card]>* {
    border-radius: 5px;
}

[data-product-card='small'] {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--card-width-small);
    height: var(--card-height-small);
    padding: 10px;
    border: solid 1px hsl(var(--color-grey-light));
}


[data-product-card='medium'] {
    flex-direction: row;
    gap: 5px;
    height: var(--card-height-medium);
    width: var(--card-width-medium);
    flex-grow: 1;
}

/*.image_container*/
[data-product-card]>.image_container {
    overflow: hidden;
    background-color: hsl(var(--color-p2));
}

[data-product-card='small']>.image_container {
    width: 150px;
    height: 150px;
}

[data-product-card='medium']>.image_container {
    width: 300px;
    height: inherit;
}

.image_container>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/*.text_container*/
[data-product-card]>.text_container {
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 15px 10px 10px 10px;
    gap: 5px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: hsl(var(--color-p2));
}

.text_container .text_container_header {
    font-size: var(--fs-subtext);
    color: hsl(var(--color-text-grey));
}

.price_sell {
    font-size: var(--fs-price-main);  
}

.price_discount {
    font-size: var(--fs-subtext);
    margin-top: 3px;
}

.price_discount > .price_before {
    color: hsl(var(--color-text-red));
    position: relative;
}

.price_discount .price_before::before { 
    /* discount red line" */
    content: '';
    height: 0px;
    width: 90%;
    border-bottom: solid 1px hsl(var(--color-red));
    position: absolute;
    bottom: 50%;
    rotate: -10deg;
}

.price_discount > .discount_percent {
    color: hsl(var(--color-text-contrast));
    background-color: hsl(var(--color-green));
    margin-left: 5px;
    padding: 2px 4px;
    border-radius: 5px;
}

.price_discount > .discount_percent:before {
    content: '-';
}

.product_display_description,
.product_card_description {
    flex-grow: 1;
}

.product_card_description {
    font-size: var(--fs-subtext);
}

.product_card_tags {
    font-size: var(--fs-subtext);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;
    width: fit-content;
    height: max-content;
}

.product_card_tags > * {
    height: max-content;
    width: max-content;
    background-color: hsl(var(--color-grey-light));
    padding: 1px 2px;
    border-radius: 5px;
}

[data-product-card='small'] {
    --fs-h3: 1.3rem;
    --fs-price-main: 1rem;
    --fs-subtext: 0.7rem;
}

[data-product-card='small'] .product_card_description {
    display: none;
}

/*###############
similar_container
#################*/

.similar_container{
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.drag_display_container {
    width: calc(var(--card-width-small) * var(--display_limit));
    height: calc(var(--card-height-small) + 20px);
    position: relative;
    overflow: hidden;
}

[data-drag-display] {
    display: flex;
    flex-direction: row;
    position: absolute;
    inset: 0;
    padding-top: 5px;
}



/*### DRAG_DISPLAY BUTTONS*/
.drag_display_btn {
    display: none;
    width: 2rem;
    height: 2rem; 
    border-radius: 50%;
    background-color: hsl(var(--color-grey-light));
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.drag_display_btn.active {
    display: flex;
    position: absolute;
    cursor: pointer;
}

.drag_display_btn:hover {
    scale: 1.1;
}

.drag_display_prev {
    left: 0%;
    transform: translateX(-120%);
}

.drag_display_next {
    right: 0%;
    transform: translateX(120%);
}

.drag_indicator_container, .drag_indicator_slider {
    position: absolute;
    bottom: 0;
    height: 10px;
    border-radius: 15px;
}

.drag_indicator_container {
    background-color: hsl(var(--color-grey-light));
    width: 100%;
    display: none;
}

.drag_indicator_container.active {
    display: block;
}

.drag_indicator_slider {
    background-color: hsl(var(--color-p1));
}


/*###################
RESPONSIVE WEB DESIGN
#####################*/
@media (max-width: 749px) {
    [data-product-card='medium'] {
        background-color: hsl(var(--color-p2));
        flex-direction: column;
        width: 300px;
    }

    [data-product-card='medium'] > .text_container {
        width: 100%;
    }

    [data-product-card='medium'] .text_container_header,
    [data-product-card='medium'] .price_sell,
    [data-product-card='medium'] .price_before,
    [data-product-card='medium'] .product_card_description,
    [data-product-card='medium'] .product_card_tags  {
        display: none;
    }

    [data-product-card='medium'] .discount_percent {
        position: absolute;
        top: -1.5rem; 
        left: 0.5rem;
    }
}

@media (max-width: 680px) {
    .similar_product_section {
        display: relative;
        width: 100%;
    }

    .similar_product_section > h2 {
        position: sticky;
        top: 0;
        width: 100%;
        background-color: hsl(var(--color-p2));
        text-align: center;
        z-index: 20;
        padding-bottom: 0.5rem;
    }

    .similar_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .drag_display_container {
        overflow: visible;
        height: auto;
    }

    [data-drag-display] {
        position: static;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .drag_display_btn.active {
        display: none;
    }

    .drag_indicator_container.active {
        display: none;
    }

    [data-product-card='small'] .product_card_tags {
        display: none;
    }
}

@media (max-width: 510px) {
    [data-product-card='small'] .text_container_header {
        display: none;
    }

}

@media (max-width: 420px) {
    [data-product-card='medium'] {
        width: 70vw;
    }

    [data-product-card='medium'] > .image_container,
    .image_container > img {
        width: inherit;
    }

    [data-product-card='small'] {
        padding: 5px;
        position: relative;
    }

    [data-product-card='small'] > .text_container {
        position: unset;
    }

    [data-product-card='small'] .product_card_price_tag {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        transform: rotate(15deg)
    }


    [data-product-card='small'] .price_sell,
    [data-product-card='small'] .price_before {
        display: none;
    }
}

@media (max-width: 380px) {
    [data-product-card='small'] {
        padding: 0;
    }
}