:root {
    --card-width: 1000px; /*PLACEHOLDER*/
    --card-height: 1000px; /*PLACEHOLDER*/
    --card-width-medium: 650px;
    --card-height-medium: 300px;
    --card-width-small: 200px;
    --card-height-small: 320px;
}

[data-product-card] {
    display: flex;
    flex-shrink: 0;
}

[data-product-card]>* {
    border-radius: 5px;
}

[data-product-card='small'] {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--card-width-small);
    height: var(--card-height-small);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}

[data-product-card='medium'] {
    flex-direction: row;
    gap: 5px;
    height: var(--card-height-medium);
    width: var(--card-width-medium);
    flex-grow: 1;
}

/*.image_container*/
[data-product-card]>.image_container {
    overflow: hidden;
    background-color: hsl(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l));
}

[data-product-card='small']>.image_container {
    width: 150px;
    height: 150px;
}

[data-product-card='medium']>.image_container {
    width: 300px;
    height: inherit;
}

.image_container>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/*.text_container*/
[data-product-card]>.text_container {
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 10px;
    gap: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: hsl(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l));
}

[data-product-card='small']>.text_container {
    padding: 5px;
    gap: 5px;
}

.product_card_tags {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;
    width: fit-content;
    height: max-content;
}

.product_card_tags>* {
    height: max-content;
    width: max-content;
}

[data-product-card='small']>.text_container>.product_card_description {
    display: none;
}

/*###############
similar_container
#################*/

.similar_container{
    position: relative;
}

.drag_display_container {
    --display_limit: 5;
    width: calc((var(--card-width-small) + 30px) * var(--display_limit));
    height: calc(var(--card-height-small) + 25px);
    position: relative;
    overflow: hidden;
}

[data-drag-display] {
    display: flex;
    flex-direction: row;
    gap: 32px;
    position: absolute;
    inset: 0;
    padding: 5px 0 0 5px;
}



/*### DRAG_DISPLAY BUTTONS*/
.drag_display_btn {
    display: none;
    width: 2rem;
    height: 2rem; 
    border-radius: 50%;
    background-color: hsl(var(--color-grey-h), var(--color-grey-s), var(--color-greylight-l));
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.drag_display_btn.active {
    display: flex;
    position: absolute;
    cursor: pointer;
}

.drag_display_btn:hover {
    scale: 1.1;
}

.drag_display_prev {
    left: 0%;
    transform: translateX(-120%);
}

.drag_display_next {
    right: 0%;
    transform: translateX(120%);
}

.drag_indicator_container, .drag_indicator_slider {
    position: absolute;
    bottom: 0;
    height: 10px;
    border-radius: 15px;
}

.drag_indicator_container {
    background-color: hsl(var(--color-grey-h), var(--color-grey-s), var(--color-greylight-l));
    width: 100%;
    display: none;
}

.drag_indicator_container.active {
    display: block;
}

.drag_indicator_slider {
    background-color: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
}


@media (max-width: 360px) {
    .similar_container {
        --display_limit: 2;
    }
}

@media (max-width: 520px) {
    .similar_container {
        --display_limit: 3;
    }
}