.searchbar {
    border: solid 1px black;
}

.searchbar > input {
    height: 2rem;
    width: 25ch;
    border: none;
}

.searchbar > button {
    height: 2rem;
    width: 2rem;
    border: none;
    background-color: transparent;
}