.product_display {
    width: 100%;
    height: 40vh;
    max-height: 350px;
}

.product_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
    margin-top: 2rem;
}


/*-----------------------------------------------*\
++ THUMBNAIL DISPLAY
\*-----------------------------------------------*/

.thumbnail_display {
    display: flex; 
    height: 100%;
    width: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;  

}

.thumbnail_image {
    max-width: 70px;
    /*DEV*/
    transition: transform 0.5s, margin 0.3s;
    border: hsl(var(--color-grey)) 1px solid;
}


.thumbnail_image:hover, .thumbnail_image.active {
    transform: scale(1.3);
    margin: 5px 0;
}

.thumbnail_image.active {
    border: hsl(var(--color-grey)) 5px solid;
}


/*-----------------------------------------------*\
++ IMAGE_DISPLAY
\*-----------------------------------------------*/

.image_display {    
    max-width: 50%;
    height: 100%;
}

.image_display > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}


/*-----------------------------------------------*\
++ TEXT_DISPLAY
\*-----------------------------------------------*/

.text_display {
    position: relative;
    height: 100%;
    min-height: 300px;
    line-height: 2rem;
    padding: 1rem;
}

.text_display .text_container_header {
    color: hsl(var(--color-text-grey));
}

.product_display_price_tag .price_sell {
    font-size: var(--fs-price-main);
    font-weight: var(--fw-b);
}


/*-----------------------------------------------*\
++ RESPONSIVE WEB DESIGN
\*-----------------------------------------------*/

@media (max-width: 780px) {
    .product_display {
        flex-direction: column;
        height: auto;
        max-height: fit-content;
    }

    .thumbnail_display {
        flex-direction: row;
        order: 2;
    }

    .image_display {
        order: 1;
    }

    .text_display {
        flex-grow: 1;
        order: 3;
    }
}