.product_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    position: relative;
    margin-top: 2rem;
    /*DEV ONLY*/
    width: 1000px;
    height: 350px;
}

.image_display {    
    max-width: 50%;
    height: 100%;
    /*DEV ONLY*/
}

.image_display > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.image_display > .image_display_selector {
    display: none;
}

.text_display {
    flex-grow: 1;
    height: 100%;
    line-height: 2rem;
    /*DEV ONLY*/
}