.profile_title {
    margin: 2rem auto;
    text-transform: uppercase;
    text-align: center;
}

.profile_section {
    width: 75vw;
    height: max-content;
    display: grid;
    grid-template-columns: 20rem 25px 2fr;
    margin: 0 auto 2rem;
    grid-template-areas: "nav divider main";
    border-radius: 10px;
}

.profile_nav {
    grid-area: nav;
    border: solid 1px hsl(var(--color-p1));
    border-radius: 10px;
}

.profile_menu {
    display: flex;
    flex-direction: column;
}

.profile_menu h2 {
    padding: 0.5rem;
    color: hsl(var(--color-text-contrast));
    background-color: hsl(var(--color-p1));
}

.profile_menu:first-of-type h2 {
    border-radius: 8px 8px 0 0 ;
}

.profile_menu ul {
    padding: 1rem 0;
    line-height: 2rem;
}

.profile_menu li {
    cursor: pointer;
    padding-left: 3rem;
    user-select: none;
}

.profile_menu a{
    display: block;
    width: 100%;
}

.profile_menu li.active {
    background-color: hsl(var(--color-grey-light));
}

.profile_menu li:hover {
    background-color: hsl(var(--color-p1-light));
}

.profile_container {
    max-width: 700px;
    width:90%;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.profile_container .profile_picture {
    width: 150px;
    margin: 1rem;
    border: 2px solid hsl(var(--color-p1));
    border-radius: 50%;
} 

@media (max-width: 1020px) {
    .profile_section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .profile_nav {
        width: 100%;
    }
}