/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margin and padding */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul,
ol,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* Remove list styles (bullet points, etc.) */
ul,
ol {
  list-style: none;
}