@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');

:root { 
/*VARIABLES*/
    /*TEXT*/
    --font-family: 'Roboto', sans-serif;
    --fs-max: 2rem;
    --fs-title: 1.8rem;
    --fs-body: 1.1rem;
    --fs-note: 0.9rem;
    --fs-note-s: 0.8rem; /*FLAG FOR DELETE IF NO USE*/
    --fs-price-main: 1.4rem;
    --fw-b: 900;
    --fw-m: 500;
    --fw-l: 100;
    /*COLORS*/
    /*## dark blue ##*/
    --color-main-h: 238;
    --color-main-s: 100%;
    --color-main-l: 10%;
    /*## grey ##*/
    --color-grey-h: 360;
    --color-grey-s: 0%;
    --color-grey-l: 35%;
    /*## light grey ##*/
    --color-greylight-l: 80%;
    /*## light blue ##*/
    --color-lightblue-h: 238;
    --color-lightblue-s: 83%;
    --color-lightblue-l: 62%;
    /* ## red (discount_price) ##*/
    --color-red-h: 360;
    --color-red-s: 100%;
    --color-red-l: 44%;    
    /*## green (discount_percent) ##*/
    --color-green-h: 131;
    --color-green-s: 100%;
    --color-green-l: 32%;
    /*## bg-white ##*/
    --color-bg-h: 360;
    --color-bg-s: 100%;
    --color-bg-l: 100%;
    /*## text color ##*/
    --color-text-main-h: 238;
    --color-text-main-s: 100%;
    --color-text-dark-l: 10%;
    --color-text-light-l: 100%;
    /*## opacity ##*/
    --color-opacity-high: 0.8;
    --color-opacity-medium: 0.5;
    --color-opacity-light: 0.3;
    /* PRODUCT-CARD*/
    --card-width: 1000px; /*PLACEHOLDER*/
    --card-height: 1000px; /*PLACEHOLDER*/
    --card-width-medium: 650px;
    --card-height-medium: 300px;
    --card-width-small: 240px;
    --card-height-small: 400px;
/* RESPONSIVE WEB DESIGN (rwd) */
    --rwd-full-width: 85vw;
    /* HEADER */
    /*## (rwd) NAVBAR ##*/
    --rwd-navbar-decor: 100px;
    /* MAIN */
    /* ## (rwd) CAROUSEL ##*/
    --rwd-carousel-width: 750px;
    --rwd-carousel-height: 350px;
    /* ## (rwd) PRODUCT CARD ##*/
    --display_limit: 5;
    /* ## (rwd) CATALOG ##*/
    --rwd-grid-gap: 1.5rem;
    --rwd-results-columns: 4;
    /* ## (rwd) SEARCH FIELDS ##*/
    --rwd-search-form-border: linear-gradient(to bottom, 
    hsl(var(--color-grey-h), var(--color-grey-s), var(--color-greylight-l)), 
    hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l)), 
    hsl(var(--color-grey-h), var(--color-grey-s), var(--color-greylight-l))
    ) 1;
    --rwd-toggle-size-x: 2rem;
    --rwd-toggle-size-y: 2.5rem;
    --rwd-toggle-pos-x: -2rem;
    --rwd-toggle-pos-y: 50%;
    --rwd-toggle-transform: translateX(50%);
    --rwd-toggle-border-radius: 0 0 25% 25%;
}

body {
    background-color: hsl(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l))
}

/*###################
RESPONSIVE WEB DESIGN
#####################*/

@media (max-width: 1320px) {
    :root {
        --rwd-results-columns: 3;
        --display_limit: 4;
    }
}

@media (max-width: 1250px) {
    :root {
        --rwd-full-width: 90vw;
    }
}

@media (max-width: 1050px) {
    :root {
        --display_limit: 3;
    }
}

@media (max-width: 1010px) {
    :root {
        --rwd-search-form-border: linear-gradient(to right, 
        hsl(var(--color-grey-h), var(--color-grey-s), var(--color-greylight-l)), 
        hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l)), 
        hsl(var(--color-grey-h), var(--color-grey-s), var(--color-greylight-l))
        ) 1;
    }
}

@media (max-width: 980px) {
    :root {
        --rwd-full-width: 100vw;
    }
}


@media (max-width: 820px) {
    :root {
        --display_limit: 2;
    }
}

@media (max-width: 749px) {
    :root {
        --rwd-carousel-width: 400px;
        --rwd-carousel-height: 350px;
    }
}


@media (max-width: 740px) {
    :root {
        --rwd-results-columns: 2;
    }
}

@media (max-width: 540px) {
    :root {
        --rwd-navbar-decor: 50px;
        --card-height-small: 300px;
    }
}    


@media (max-width: 510px) {
    :root {
        --card-width-small: 200px; 
    }
}    

@media (max-width: 420px) {
    :root {
        --rwd-carousel-width: 100vw;
        --rwd-carousel-height: 100vw;
        --card-width-small: 180px; 
        --card-height-small: 210px;
    }
}



@media (max-width: 380px) {
    :root {
        --card-width-small: auto;
        --card-height-small: auto;
    }
}    