@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');

:root { 
/*VARIABLES*/
    /*TEXT*/
    --font-family: 'Roboto', sans-serif;
    --fs-title: 1.4rem;
    --fs-body: 1.2rem;
    --fs-note: 0.9rem;
    --fw-b: 900;
    --fw-m: 500;
    --fw-l: 100;
    /*COLORS*/
    /*## dark blue ##*/
    --color-main-h: 238;
    --color-main-s: 100%;
    --color-main-l: 10%;
    /*## light grey ##*/
    --color-grey-h: 360;
    --color-grey-s: 0%;
    --color-grey-l: 35%;
    /*## light blue ##*/
    --color-lightblue-h: 238;
    --color-lightblue-s: 83%;
    --color-lightblue-l: 62%;    
    /*## white ##*/
    --color-bg-h: 360;
    --color-bg-s: 100%;
    --color-bg-l: 100%;
    /*## text color ##*/
    --color-text-main-h: 238;
    --color-text-main-s: 100%;
    --color-text-dark-l: 10%;
    --color-text-light-l: 100%;
    /*SPACING*/
}

body {
    background-color: hsl(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l))
}

/*FOR TESTING! DELETE AFTER DONE!*/
main {
    border: solid red 1px;  
}

footer {
    border: solid green 1px;
}