@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');

:root, ::backdrop { 
/*VARIABLES*/
    /*TEXT*/
    --font-family: 'Roboto', sans-serif;
    --fs-max: 2rem;
    --fs-title: 1.8rem;
    --fs-body: 1.1rem;
    --fs-note: 0.9rem;
    --fs-note-s: 0.8rem; /*FLAG FOR DELETE IF NO USE*/
    --fs-price-main: 1.4rem;
    --fw-b: 900;
    --fw-m: 500;
    --fw-l: 100;
    /*COLORS*/
    /*## dark blue ##*/
    --color-main-h: 238;
    --color-main-s: 100%;
    --color-main-l: 10%;
    /*## grey ##*/
    --color-grey-h: 360;
    --color-grey-s: 0%;
    --color-grey-l: 35%;
    /*## light grey ##*/
    --color-greylight-l: 80%;
    /*## light blue ##*/
    --color-lightblue-h: 238;
    --color-lightblue-s: 83%;
    --color-lightblue-l: 62%;
    /* ## red (discount_price) ##*/
    --color-red-h: 360;
    --color-red-s: 100%;
    --color-red-l: 44%;    
    /*## green (discount_percent) ##*/
    --color-green-h: 131;
    --color-green-s: 100%;
    --color-green-l: 32%;
    /*## bg-white ##*/
    --color-bg-h: 360;
    --color-bg-s: 100%;
    --color-bg-l: 100%;
    /*## text color ##*/
    --color-text-main-h: 238;
    --color-text-main-s: 100%;
    --color-text-dark-l: 10%;
    --color-text-light-l: 100%;
    /*## opacity ##*/
    --color-opacity-high: 0.8;
    --color-opacity-medium: 0.5;
    --color-opacity-light: 0.3;
    /* PRODUCT-CARD*/
    --card-width: 1000px; /*PLACEHOLDER*/
    --card-height: 1000px; /*PLACEHOLDER*/
    --card-width-medium: 650px;
    --card-height-medium: 300px;
    --card-width-small: 200px;
    --card-height-small: 320px;
/* RESPONSIVE WEB DESIGN (rwd) */
    --rwd-full-width: 85vw;
    /* HEADER */
    /*## (rwd) NAVBAR ##*/
    --rwd-navbar-decor: 100px;
    /* MAIN */
    /* ## (rwd) CAROUSEL ##*/
    --rwd-carousel-width: 750px;
    --rwd-carousel-height: 350px;
    
}

body {
    background-color: hsl(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l))
}

/*###################
RESPONSIVE WEB DESIGN
#####################*/

@media (max-width: 1250px) {
    :root {
        --rwd-full-width: 90vw;
    }
}

@media (max-width: 980px) {
    :root {
        --rwd-full-width: 100vw;
    }
}


@media (max-width: 780px) {

}

@media (max-width: 749px) {
    :root {
        --rwd-carousel-width: 400px;
        --rwd-carousel-height: 350px;
    }
}


@media (max-width: 640px) {

}

@media (max-width: 540px) {
    :root {
        --rwd-navbar-decor: 50px;
    }
}    


@media (max-width: 480px) {
    
}    

@media (max-width: 419px) {
    :root {
        --rwd-carousel-width: 100vw;
        --rwd-carousel-height: 100vw;
        
    }
}



@media (max-width: 320px) {
    
}    