* {
    font-family: var(--font-family);
    font-size: 16px;
    color: hsl(var(--color-text-main-h), var(--color-text-main-s), var(--color-text-dark-l));
}

.navbar > li {
    color: hsl(var(--color-text-main-h), var(--color-text-main-s), var(--color-text-light-l));
}

.login-text { /*From .login-modal*/
    font-size: 2rem;
}