.header_top,
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_top {
    justify-content: space-evenly;
    padding: 1rem;
}

.searchbar, .login {
    align-self: flex-end;
}

.header_bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.navbar {
    width: 65%; 
    justify-content: space-around;
    padding: 1rem 1.5rem;
    background-color: hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
    position: relative;
}

.navbar::before {
    content: '';
    width: 100px;
    position: absolute;
    border-right: 100px solid transparent;
    border-top: 50px solid hsl(var(--color-grey-h), var(--color-grey-s), var(--color-grey-l));
    left: 0;
    top: 0;
}

.navbar::after {
    content: '';
    width: 100px;
    position: absolute;
    border-top: 50px solid transparent;
    border-right: 100px solid hsl(var(--color-grey-h), var(--color-grey-s), var(--color-grey-l));
    right: 0;
    top: 0;
}

.breadcrumb_container {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.breadcrumb {
    display: flex;
    width: 65%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.breadcrumb_trail:not(:last-child)::after {
    content: ' >';
    padding-right: 0.5rem;
}

.return_search_result > li:before {
    content: '<-';
    padding-right: 0.5rem;
}