main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


 main > h2 {
    margin-top: 0.5rem;
 }

.section_divider {
    width: var(--rwd-full-width);
    color: hsl(var(--color-text));
    border-radius: 50%;
}