.user_form_title {
    margin: 2rem auto 1rem;
    align-self: flex-start;
}

#form_section {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: hsla(var(--color-grey-h), var(--color-grey-s), var(--color-greylight-l), var(--color-opacity-light));
}

.user_form {
    margin-left: clamp(70px, 10vw, 200px);
    width: min(70vw, 720px);
    display: grid;
    align-items: center;
    column-gap: 1rem;
    grid-template-columns: 200px max-content 1fr;
}

#login_form.user_form {
    grid-template-rows: min-content 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "login_noti login_noti login_noti"
        "user_label divider user_input"
        "password_label divider password_input"
        ". divider forgot_password"
        ". divider button";

}

#register_form.user_form {
    margin: auto;
    width: 90vw;
    max-width: 1080px;
    grid-template-columns: 200px max-content 1fr max-content;
    grid-template-rows: 1fr min-content 1fr min-content 1fr min-content 1fr;
    grid-template-areas:
        "user_label divider user_input username_checklist"
        ". divider user_noti username_checklist"
        "password_label divider password_input username_checklist"
        ". divider password_noti password_checklist"
        "password_confirm_label divider password_confirm_input password_checklist"
        ". divider confirm_password_noti password_checklist"
        ". divider button password_checklist";
}

#universal_form.user_form {
    width: 100%;
    margin: 0;
}

[data-universal-form='profile'].user_form {
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "username_label divider username_text"
        "profile_name_label divider profile_name_input"
        "change_password_label divider change_password_btn"
        "pref_lang_label divider pref_lang_select"
        ". divider button";
    gap: 1rem;
}

[data-universal-form='change_password'].user_form {
    grid-template-rows: repeat(3, 1fr max-content) 1fr;
    grid-template-areas:
        "password_label divider password_input"
        ". divider password_notification"
        "password_new_label divider password_new_input"
        ". divider password_new_notification"
        "password_new_confirm_label divider password_new_confirm_input"
        ". divider password_new_confirm_notification"
        ". divider button"
}

[data-form-notification] {
    padding-bottom: 0.5rem;
}

.universal_notification{
    width: 100%;
}

.universal_alert {
    max-width: 920px;
    margin: 0 1rem 0.5rem 1rem;
}

.universal_notification>p, .universal_alert>p {
    padding: 0.5rem;
    border-radius: 20px;
}

.universal_notification>p.green {
    border: 2px solid hsl(var(--color-green-h), var(--color-green-s), var(--color-green-l));
    background-color: hsla(var(--color-green-h), var(--color-green-s), var(--color-greylight-l), var(--color-opacity-medium));
}

.universal_notification>p.red {
    border: 2px solid hsl(var(--color-red-h), var(--color-red-s), var(--color-red-l));
    background-color: hsla(var(--color-red-h), var(--color-red-s), var(--color-greylight-l), var(--color-opacity-medium));
}

.universal_alert>p.orange {
    border: 2px solid hsl(var(--color-orange-h), var(--color-orange-s), var(--color-orange-l));
    background-color: hsla(var(--color-orange-h), var(--color-orange-s), var(--color-greylight-l), var(--color-opacity-medium));
}

.input_checklist {
    border: 1px solid hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l));
    border-radius: 15px;
    background-color: hsl(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l));
    align-self: flex-start;
    padding: 0.5rem;
}

.checklist_requirement.red, .checklist_requirement.red > * {
    color: hsl(var(--color-red-h), var(--color-red-s), var(--color-red-l));
}

.checklist_requirement.green, .checklist_requirement.green > * {
    color: hsl(var(--color-green-h), var(--color-green-s), var(--color-green-l));
}

.checklist_requirement:before {
    content: "- ";
    padding-left: 1rem;
}

.form_divider {
    /*label | input divider*/
    height: 100%;
    width: 3px;
    background-color: transparent;
    border-right: 2px transparent solid;
    border-image: linear-gradient(to bottom,
            hsl(var(--color-grey-h), var(--color-grey-s), var(--color-greylight-l)),
            hsl(var(--color-main-h), var(--color-main-s), var(--color-main-l)),
            hsl(var(--color-grey-h), var(--color-grey-s), var(--color-greylight-l))) 1;
    grid-area: divider;
}

#show_password_checkbox,
.show_password_checkbox {
    display: none;
}

.show_password_icon {
    cursor: pointer;
    display: none;
    padding-right: 1rem;
}

.show_password_icon.active {
    display: inline;
}

.login_notification {
    grid-area: login_noti;
}

.username_label {
    grid-area: user_label;
}

.username_input {
    grid-area: user_input;
}

#username_notification {
    grid-area: user_noti;
}

.password_label {
    grid-area: password_label;
}

.password_new_label {
    grid-area: password_new_label;
}

.password_new_confirm_label {
    grid-area: password_new_confirm_label;
}

.input_div.password {
    grid-area: password_input;
}

[data-input-checklist='username'] {
    grid-area: username_checklist;
}

[data-input-checklist='password'] {
    grid-area: password_checklist;
}

[data-form-notification='password_current'] {
    grid-area: password_notification;
}

.input_div.password_new {
    grid-area: password_new_input;
}

[data-form-notification='password_new'] {
    grid-area: password_new_notification;
}

.input_div.password_new_confirm {
    grid-area: password_new_confirm_input;
}

[data-form-notification='password_new_confirm'] {
    grid-area: password_new_confirm_notification;
}

#password_notification {
    grid-area: password_noti;
}

.text_link_form {
    align-self: flex-start;
    grid-area: forgot_password;
}

.btn_form {
    grid-area: button;
}

.password_confirm_label {
    grid-area: password_confirm_label;
}

#password_confirm {
    grid-area: password_confirm_input;
}

#password_confirm_notification {
    grid-area: confirm_password_noti;
}

@media (max-width: 980px) {
    .user_form {
        width: 80%;
        grid-template-columns: max-content min-content 1fr;
    }
}

@media (max-width: 880px) {
    #register_form.user_form {
        grid-template-columns: 200px max-content 1fr;
        grid-template-rows: 1fr min-content max-content 1fr min-content max-content 1fr min-content 1fr;
        grid-template-areas:
            "user_label divider user_input"
            ". divider user_noti"
            ". divider username_checklist"
            "password_label divider password_input"
            ". divider password_noti"
            ". divider password_checklist"
            "password_confirm_label divider password_confirm_input"
            ". divider confirm_password_noti"
            ". divider button";
    }
}

@media (max-width: 520px) {
    .form_divider {
        display: none;
    }

    .user_form_title {
        padding-left: 35px;
    }

    #login_form.user_form,
    #register_form.user_form,
    #universal_form.user_form {
        grid-template-columns: 1fr;
        grid-template-areas: unset;
    }

    #login_form.user_form {
        margin-left: 35px;
    }

    #login_form.user_form {
        grid-template-rows: repeat(7, min-content);
    }

    #register_form.user_form {
        grid-template-rows: repeat(10, min-content);
    }

    #universal_form.user_form {
        gap: unset;
    }

    [data-universal-form='profile'].user_form {
        grid-template-rows: repeat(8, 1fr) 1.5fr;
    }

    [data-universal-form='change_password'].user_form {
        grid-template-rows: repeat(9, 1fr) 3fr;
    }

    #login_form.user_form> :nth-child(2),
    #login_form.user_form> :nth-child(5),
    #register_form.user_form> :nth-child(4n) {
        margin-bottom: 1.5rem;
    }

    .input_checklist {
        margin-top: 0.5rem;
    }

    .user_form>label {
        text-align: unset;
    }

    .user_form>* {
        grid-area: unset !important;
    }
}